---
import { MyElement } from '../components/my-element.js';
import Button from "@awesome.me/webawesome/dist/components/button/button.js";
import "@awesome.me/webawesome/dist/styles/webawesome.css";
import "@awesome.me/webawesome/dist/ssr/all.js"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<wa-page mobile-breakpoint="920">
			<main>
				<Button>HELLO WORLD</Button>
				<MyElement />
				<slot />
			</main>
		</wa-page>

		<script>

    	// !!VERY IMPORTANT!!
    	// These 2 imports must come first before importing any components in the client. If not, you will end up with things rendering more than once and things will look very, very broken.
			import "@awesome.me/astro-lit/dsd-polyfill.js"
			import "@awesome.me/astro-lit/hydration-support.js";


			import "../components/my-element.js"
			// Don't do this in a real app. it will be massive. This is for demonstration porpoises.
			import "@awesome.me/webawesome/dist/ssr/all.js"
		</script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
